<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>black home</title>
    <link rel="stylesheet" href="../src/css/black-home.css">
</head>
<body>
    <header>
        <img class="bar"  src="../src/img/black-home/bar.png" >
        <img class="sun"  src="../src/img/black-home/sun.png">
        <img class="moon" src="../src/img/black-home/moon.png">
        <span class="aqua">AQUA💧</span>
        <a class="span1">
            <span >INICIO</span>
        </a>
        <a class="span2">
            <span >CÓMO JUGAR</span>
        </a>
        <a class="span3">    
        <span >APÓYANOS</span>
        </a>
        <a class="span4">
        <span >SOBRE NOSOTROS</span>        
        </a>
    </header>

    <section class="inicio">

        <div class="inicio1">
            <img src="../src/img/black-home/logo.png">
            <span>Somos creatividad, somos Crae</span>
            <p>Crae es un juego de cartas inclusivo donde personas videntes, no videntes y con discapacidad visual pueden participar y disfrutar en conjunto.</p>
        </div>

        <div class="inicio2">
            <img class="perro" src="../src/img/black-home/perro.png">
            <button class="carritocompra">
                <img src="../src/img/black-home/carrito.png">
                <span>comprar</span>
            </button>
            <button class="ig" ><img src="../src/img/black-home/ig.png"></button>
            <button class="fb" ><img src="../src/img/black-home/fb.png"></button>
            <button class="kick" ><img src="../src/img/black-home/kick.png"></button>
        </div>

    </section>
    
    <section class="como-jugar">
        <div class="div1">
            <h1>¿Cómo jugar?</h1>
            <p>Crae posee una modalidad de juego definidas pero siempre apoyamos la creatividad y que crees tus propias reglas y modalidades.</p>
        </div>
        <div class="div2">
            <span class="span5">1</span>
            <span class="span6">2</span>
            <span class="span7">3</span>
            <span class="span8">4</span>
            <span class="span9">5</span>
            <p class="p1">Uno de los jugadores hace de “creativo” en cada uno de los turnos. Observa sus 6 cartas de la mano y, de una de ellas, debe construir una frase, palabra o sonido y decirla en voz alta (sin mostrar la carta a los otros jugadores). La frase puede ser inventada o puede estar inspirada en la poesía, literatura, cine, etc. </p>
            <p class="p2">Comenzamos el juego de izquierda a derecha. Selecciona una carta que inspire tu frase y dila en voz alta. El resto de jugadores seleccionará de entre sus cartas la que mejor se adapte a la frase construida por el creativo.</p>
            <p class="p3">El objetivo de los jugadores es adivinar cuál de las cartas es la que el creativo usó para construir su frase. Cada jugador vota de forma secreta la carta que cree que pertenece al creativo. Para ello, coloca boca abajo frente a él un objeto que hayas escogido previamente. </p>
            <p class="p4">- Si todos los jugadores aciertan la carta del creativo, todos los jugadores excepto el creativo ganan 2 puntos. 
                - En cualquier otro caso, tanto el creativo como los jugadores que hayan acertado, obtienen 3 puntos. 
                - Todos los jugadores ganan un punto por cada voto que reciba su carta. </p>
            <p class="p5">Cada jugador roba cartas hasta tener 6 en su mano. El juego termina cuando se roba la última carta. El jugador que más lejos haya llegado en la escala de puntuación es el ganador.</p>
            <img class="img1" src="../src/img/black-home/cards.png">
            <img class="img2" src="../src/img/black-home/check.png">
            <img class="img3" src="../src/img/black-home/vote.png">
            <img class="img4" src="../src/img/black-home/checklist.png">
            <img class="img5" src="../src/img/black-home/mountain.png">

        </div>








    </section>



</body>
</html>