<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>black home</title>
    <link rel="stylesheet" href="../src/css/black-home.css">
</head>
<body>
    <header>
        <img src="../src/img/black-home/bar.png" >
        <img src="../src/img/black-home/sun.png">
        <img src="../src/img/black-home/moon.png">
        <span>AQUA💧</span>
        <a>
            <span>INICIO</span>
        </a>
        <a>
            <span>CÓMO JUGAR</span>
        </a>
        <a>    
        <span>APÓYANOS</span>
        </a>
        <a>
        <span>SOBRE NOSOTROS</span>        
        </a>
    </header>

    <section class="inicio">

        <div class="inicio1">
            <img src="../src/img/black-home/logo.png">
            <span></span>
            <p></p>
        </div>

        <div class="inicio2">
            <img src="../src/img/black-home/perro.png">
            <button class="carritocompra">
                <img src="../src/img/black-home/carrito.png">
                <span>comprar</span>
            </button>
            <button><img src="../src/img/black-home/ig.png"></button>
            <button><img src="../src/img/black-home/fb.png"></button>
            <button><img src="../src/img/black-home/kick.png"></button>
        </div>

    </section>

</body>
</html>